<h1>Editing userright</h1>

<% form_for(@userright) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :party_id %><br />
    <%= f.text_field :party_id %>
  </p>
  <p>
    <%= f.label :right_id %><br />
    <%= f.text_field :right_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @userright %> |
<%= link_to 'Back', userrights_path %>