<h1><%= "Lising user rights for: #{@userrights.first.user.username}" %></h1>

<table>
  <tr>
    <th>Party ID</th>
    <th>Right ID</th>
  </tr>

<% @userrights.each do |userright| %>
  <tr>
    <td><%=h userright.party_id %></td>
    <td><%=h userright.right.description %></td>
    <td><%= link_to 'Show', userright %></td>

    <td><%= link_to 'Destroy', userright, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user right assignment', :controller => "userrights", :action => "new", :party_id => $party_id %> | 
<%= link_to 'Back', users_path %>