<% unless @userright.nil? %>
    <%=h @userrights.first.user.username %>
<% end %>

<table>
  <tr>
    <th>Party ID</th>
    <th>Rights assigned yet</th>
  </tr>

<% @userrights.each do |userright| %>
  <tr>
    <td><%=h userright.user.party_id %></td>
    <td><%=h userright.right.description %></td>
    <td><%= link_to 'Show', userright %></td>

    <td><%= link_to 'Destroy', userright, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user right assignment', :controller => "userrights", :action => "new", :user_id => $user_id %> | 
<%= link_to 'Back', users_path(:user_id => $user_id) %>