<h1>
  <%= "New userright assignment for: #{@user.username}" %>
</h1>


<% form_for(@userright) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :user_id, :value => @user.id %>  <!-- This attribute is not shown. However, it is necessary for the user model. -->
  
  <div class="field">
    <%= f.label :party_id, 'Party ID' %><br />
    <%= f.text_field :party_id, :value => @user.party_id, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :right_assignment %><br />
    <%= collection_select(:userright, :right_id, @rights, :id, :description, :prompt => true) %>
  </div>
  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>