<h1>Show user right</h1>

<table>
  <tr>
    <td width=200px><b>Party ID</b></td>
    <td><b><%=h @userright.user.party_id %></b></td>
  </tr>
  <tr>
    <td><b>Username</b></td>
    <td><b><%=h @userright.user.username %></b></td>
  </tr>
  <tr>
    <td><b>Right description</b></td>
    <td><b><%=h @userright.right.description %></b></td>
  </tr>
  <tr>
    <td> Record created at</td>
    <td><%=h @userright.created_at %></td>
  </tr>
  <tr>
    <td> Record updated at</td>
    <td><%=h @userright.updated_at %></td>
  </tr>
</table>

<%= link_to 'Back', userrights_path(:user_id => @userright.user_id) %>