<h1>Editing person</h1>

<% $party_id = @person.party_id %>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :party_ID %><br />
    <%= f.text_field :party_id, 'disabled' => 'true' %>
    <%= f.hidden_field :party_id, :value => $party_id %>
  </div>
  <div class="field">
    <%= f.label :current_last_name %><br />
    <%= f.text_field :current_last_name %>
  </div>
  <div class="field">
    <%= f.label :current_first_name %><br />
    <%= f.text_field :current_first_name %>
  </div>
  <div class="field">
    <%= f.label :income_classification %> <br />
    <%= collection_select(:person, :incomeclassification_id, @incomeclass, :id, :description, :prompt => "none selected") %>
  </div>
  <div class="field">
    <%= f.label :occupation_classification%> <br />
    <%= collection_select(:person, :occupationclassification_id, @occupationclass, :id, :description, :prompt => "none selected") %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= date_select(:person, :birth_date, :start_year => 1940) %>
  </div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back to person', people_path(:party_id => @person.party_id) %>