<!-- Search results page -->
<h1>Listing people - search result</h1> 

<div class="paginate">
    <%= will_paginate %>
</div><br />

<table>
  <tr>
    <th>Party ID</th>
    <th>Current last name</th>
    <th>Current first name</th>
    <th>Birth date</th>
    <th>Income classification</th>
    <th>Occupation classification</th>
    <th>User account name</th>
  </tr>
  <%= render @people %>     <!-- calls the partial _person.html.erb for each Person object collected in the @people array-->
</table>

<div class="paginate">
    <%= will_paginate %>
</div><br />

<%= link_to 'New person', new_person_path %>  |  
<%= link_to 'Clear search', people_path %>