<h2><%= "Show person: #{h @person.current_first_name} #{h @person.current_last_name}"  %></h2>

<table>
  <tr>
    <td width=200px>Party ID</td>
    <td><%=h @person.party_id %></td>
  </tr>
  <tr>
    <td>Current last name</td>
    <td><%=h @person.current_last_name %></td>
  </tr>
  <tr>
    <td>Current first name</td>
    <td><%=h @person.current_first_name %></td>
  </tr>
  <tr>
    <td>Roles assigned</td>
    <td>
      <% if @partyroles.any? %>
        <% @partyroles.each do |partyrole| %>
          - <%= link_to partyrole.role.description, partyroles_path(:party_id => @person.party_id) %> -
        <% end %>
      <% else %>
        <%= link_to '[Assign party role]', new_partyrole_path(:party_id => @person.party_id) %>
      <% end %>
    </td> 
  </tr>
  <tr>
    <td>Income classification</td>
    <td><%=h none_on_fail {@person.incomeclassification.description} %></td>
  </tr>
  <tr>
    <td>Occupation classification</td>
    <td><%=h none_on_fail {@person.occupationclassification.description} %></td>
  </tr>
  <tr>
    <td>Birth date</td>
    <td><%=h @person.birth_date %></td>
  </tr>
  <% if admin_user? %>
    <tr>
      <td>User account name</td>
      <% @party_id = @person.party_id unless !@person.user.nil? %>
      <td><%= create_user_account_on_fail {link_to @person.user.username, users_path(:user_id => @person.user.id)} %></td>
    </tr>
  <% end %>
  <tr>
    <td>Record created at</td>
    <td><%=h @person.created_at %></td>
  </tr>
  <tr>
    <td>Record updated at</td>
    <td><%=h @person.updated_at %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back to person index', people_path(:party_id => @person.party_id) %>