<h1>Editing occupation classification</h1>

<% form_for(@occupationclassification) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @occupationclassification %> |
<%= link_to 'Back', occupationclassifications_path %>