<h1>Listing occupationclassifications</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

<% @occupationclassifications.each do |occupationclassification| %>
  <tr>
    <td><%=h occupationclassification.description %></td>
    <td><%= link_to 'Show', occupationclassification %></td>
    <td><%= link_to 'Edit', edit_occupationclassification_path(occupationclassification) %></td>
    <td><%= link_to 'Destroy', occupationclassification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New occupationclassification', new_occupationclassification_path %>