<h1>Listing occupation classifications</h1>

<div class="paginate"><%= will_paginate %></div><br />
<table>
  <tr>
    <th>Description</th>
  </tr>

<% @occupationclassifications.each do |occupationclassification| %>
  <tr>
    <td><%=h occupationclassification.description %></td>
    <td><%= link_to 'Show', occupationclassification %></td>
    <td><%= link_to 'Edit', edit_occupationclassification_path(occupationclassification) %></td>
    <td><%= link_to 'Destroy', occupationclassification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div class="paginate"><%= will_paginate %></div><br />

<%= link_to 'New occupationclassification', new_occupationclassification_path %>