<h1>New occupation classification</h1>

<% form_for(@occupationclassification) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', occupationclassifications_path %>