<h1>Show Occupation classification </h1>

<table>
  <tr>
    <td width=200px><b>Description</b></td>
    <td><b><%=h @occupationclassification.description %></b></td>
  </tr>
  <tr>
    <td> Record created at</td>
    <td><%=h @occupationclassification.created_at %></td>
  </tr>
  <tr>
    <td> Record updated at</td>
    <td><%=h @occupationclassification.updated_at %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_occupationclassification_path(@occupationclassification) %> |
<%= link_to 'Back', occupationclassifications_path %>