<h1>Editing user account</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :party_id, 'Party ID' %> <br />
    <%= f.text_field :party_id, 'disabled' => 'true' %>
  </div>
  <div class="field">
    <%= f.label :username %> <br />
    <%= f.text_field :username, 'disabled' => 'true' %>
  </div>
  <div class="field">
    <%= f.label :password %> <br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Password confirmation" %> <br />
    <%= f.password_field :password_confirmation %>
  </div>  
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  
<% end %>

<%= link_to 'Show', @user %> |
<% if admin_user? %>
  <%= link_to "Back", users_path %>
<% else %>
  <%= link_to "Home", root_path %>
<% end %>