<h1>Listing user accounts</h1>

<table>
  <tr>
    <th>Party ID</th>
    <th>User name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.party_id %></td>
    <td><%=h user.username %></td>
    
    <% if user.rights.empty? %>
        <td><%= link_to 'Assign user rights', :controller => "userrights", :action => "new", :party_id => user.party_id %></td>
    <% else %>
        
           <td><%= link_to 'Manage user rights assignment', :controller => "userrights", :action => "index", :party_id => user.party_id %></td>
        
    <% end %>
        
    <td><%= link_to 'Show', :controller => "users", :action => "show", :party_id => user.party_id %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="paginate"><%= will_paginate %></div><br />

<br />
<%= link_to 'New', new_user_path %> |    
<%= link_to 'Back', root_path %>