<h1>Show user</h1>

<table>
  <tr>
    <td width=200px><b>Party ID</b></td>
    <td><b><%=h @user.party_id %></b></td>
  </tr>
  <tr>
    <td><b>Username</b></td>
    <td><b><%=h @user.username %></b></td>
  </tr>
  <tr>
    <td>User rights assigned</td>
    <td>
      <% @user.userrights.each do |userright| %>
          - <%=h userright.right.description %> -
      <% end %>
    </td>
  </tr>
  <tr>
    <td> Record created at</td>
    <td><%=h @user.created_at %></td>
  </tr>
  <tr>
    <td> Record updated at</td>
    <td><%=h @user.updated_at %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<% if admin_user? %>
  <%= link_to "Back", users_path(:user_id => @user.id) %>
<% else %>
  <%= link_to "Home", root_path %>
<% end %>