<h1>Listing rights</h1>

<table>
  <tr>
    <th>Description</th>
  </tr>

<% @rights.each do |right| %>
  <tr>
    <td><%=h right.description %></td>
    <td><%= link_to 'Show', right %></td>
    <td><%= link_to 'Edit', edit_right_path(right) %></td>
    <td><%= link_to 'Destroy', right, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New right', new_right_path %>