<h1>Editing partyrole</h1>

<% form_for(@partyrole) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :party_id %><br />
    <%= f.text_field :party_id %>
  </p>
  <p>
    <%= f.label :role_id %><br />
    <%= f.text_field :role_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @partyrole %> |
<%= link_to 'Back', partyroles_path %>