<h1>Listing party roles</h1>
<h3>for <%= @person.current_first_name %> <%= @person.current_last_name %> </h3>

<table>
  <tr>
    <th>Party ID</th>
    <th>Role</th>
  </tr>
<% @party_id = @partyrole.party_id %>

<% @partyroles.each do |partyrole| %>
  <tr>
    <td><%=h partyrole.party_id %></td>
    <td><%=h partyrole.role.description %></td>
    <td><%= link_to 'Show', partyrole %></td>
    <td><%= link_to 'Destroy', partyrole, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to "New party role assignment", :controller => "partyroles", :action => "new", :party_id => @party_id %> |
<%= link_to 'Back to person', people_path(:party_id => @partyrole.party_id) %>