<h1>
  <%= "New partyrole -> #{ @person.current_first_name } #{ @person.current_last_name }" %> 
</h1>

<% form_for @partyrole do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :party_ID %><br />
    <%= f.text_field :party_id, :value => $party_id, :disabled => true %>
    <%= f.hidden_field :party_id, :value => $party_id %>
  </div>
  <div class="field">
    <%= f.label :role_assignment %><br />
    <%= collection_select(:partyrole, :role_id, @roles, :id, :description, :prompt => true) %>
  </div>
  <div class="actions"p>
    <%= f.submit 'Create' %>
  </div>
<% end %>

<br />
<%= link_to 'Back', partyroles_path %> |
<%= link_to 'Quit role assignment', people_path %>