<p>
  <b>Party:</b>
  <%=h @partyrole.party_id %>
</p>
<b>Role(s):</b>
<table>
<% @partyroles.each do |partyrole| %>
  <tr><br />
    <nobr>
    <%=h partyrole.role_id %>
    <%=h partyrole.role.description %>
    </nobr>
  </tr>
<% end %>
</table>
</nobr> 
<br />

<%= link_to 'Edit', edit_partyrole_path(@partyrole) %> |
<%= link_to 'Back', partyroles_path %>